---
import { handleLineSigned } from "../scripts/line-signed";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>LINE サインイン処理中…</title>
  </head>
  <body>
    <p>LINE サインイン処理中…</p>
    <script type="module">
      import { handleLineSigned } from "../scripts/line-signed.ts";
      handleLineSigned();
    </script>
  </body>
</html>