---
// ここのimport文は不要なので削除しました
export const prerender = false;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>LINE サインイン処理中…</title>
  </head>
  <body>
    <p>LINE サインイン処理中…</p>
    <script>
      import { handleLineSigned } from "../scripts/line-signed.ts";
      handleLineSigned();
    </script>
  </body>
</html>